.profile {
    display: flex;
    gap: 50px;
    margin-top: 120px;
    margin-left: 60px;
}

nav {
    color: #8585ad;
    font-size: 26px;
    width: 320px;


    li {
        list-style-type: none;
        cursor: pointer;
    }
    
    .active {
        color: white;
        cursor: default;
    }
}