<div class="constructor">
    <div class="ingridient bun-top">
        <span *ngIf="!this.burgerConstrucor?.bun">Выберите булки</span>
        <span class="ingridient-components" *ngIf="!!this.burgerConstrucor?.bun">
            <img class="ingridient-components-image" src={{burgerConstrucor?.bun?.image}} alt="Картинка ингредиента">
            <span class="ingridient-components-text">{{ burgerConstrucor?.bun?.name }} (верх)</span>
            <span class="ingridient-components-price">
                {{burgerConstrucor?.bun?.price}}
                <img src="../../../assets/money.svg">
            </span>
            <span class="ingridient-components-locked">
                <img src="../../../assets/locked.svg">
            </span>
        </span>
    </div>
    <ul class="main">
        <div class="ingridient main-ingridient" *ngIf="!this.burgerConstrucor?.ingredients?.length">Выберите начинку
        </div>
        <ng-container *ngIf="!!this.burgerConstrucor?.ingredients?.length">
            <li *ngFor="
            let ingredient of this.burgerConstrucor?.ingredients;
            let i = index;
            let first = first;
            let last = last;
            " class="main-ingredient">
                <div class="move_button">
                    <button [disabled]="first" (click)="up(i)">
                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.9541 10.3525C11.5164 9.88251 12.4836 9.88251 13.0459 10.3525L17.6243 14.1786C18.4585 14.8758 17.8129 16 16.5783 16H7.42166C6.1871 16 5.54152 14.8758 6.37574 14.1786L10.9541 10.3525Z">
                            </path>
                        </svg>
                    </button>
                    <button [disabled]="first && this.burgerConstrucor?.ingredients?.length === 1 || last" (click)="down(i)">
                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.9541 15.6475C11.5164 16.1175 12.4836 16.1175 13.0459 15.6475L17.6243 11.8214C18.4585 11.1242 17.8129 10 16.5783 10H7.42166C6.1871 10 5.54152 11.1242 6.37574 11.8214L10.9541 15.6475Z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="ingridient main-ingridient">
                    <span class="ingridient-components">
                        <img class="ingridient-components-image" src={{ingredient.image}} alt="Картинка ингредиента">
                        <span class="ingridient-components-text">{{ ingredient.name }} (верх)</span>
                        <span class="ingridient-components-price">
                            {{ingredient.price}}
                            <img src="../../../assets/money.svg">
                        </span>
                        <span class="ingridient-components-locked" (click)="delete(i)">
                            <img src="../../../assets/delete.svg">
                        </span>
                    </span>
                </div>
            </li>
        </ng-container>
    </ul>
    <div class="ingridient bun-bottom">
        <span *ngIf="!this.burgerConstrucor?.bun">Выберите булки</span>
        <span class="ingridient-components" *ngIf="!!this.burgerConstrucor?.bun">
            <img class="ingridient-components-image" src={{burgerConstrucor?.bun?.image}} alt="Картинка ингредиента">
            <span class="ingridient-components-text">{{ burgerConstrucor?.bun?.name }} (низ)</span>
            <span class="ingridient-components-price">
                {{burgerConstrucor?.bun?.price}}
                <img src="../../../assets/money.svg">
            </span>
            <span class="ingridient-components-locked">
                <img src="../../../assets/locked.svg">
            </span>
        </span>
    </div>
    <div class="order">
        <div class="order-price">
            <p>{{burgerConstrucor | totalPrice}}</p>
            <img src="../../../assets/money.svg">
        </div>
        <button (click)="submit()">Оформить заказ</button>
    </div>
    <div class="preloader" *ngIf="loading">
        Отправляем заказ...
    </div>
</div>