.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1c1c21;
}

main {
    max-width: 1240px;
    margin: 0 auto;
    flex-grow: 1;
    display: grid;
    align-content: center;
}